<div id="{{elementId}}" class="markdown-viewer-widget">
  <script
    type="application/json"
    type="application/json"
    data-md-viewer
    data-payload="{{payloadBase64}}"
  >
  </script>
</div>
